
<header> List of Users</header>

<form #userForm="ngForm" novalidate>
        <div class="form-group row">
          <table>
            <thead>
              <tr>
                <th>SSO ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users">
                <td>{{user.ssoid}}</td>
                <td>{{user.firstname}}</td>
                <td>{{user.lastname}}</td>
                <td>{{user.email}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </form>
      
      <a href="\adduser">Add New User</a>